/* || RESET */

:root {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color1);
  background-color: var(--color0);
}



.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 5em; */
  /* padding-bottom: 5em; */
  justify-content: center;
  align-items: center;

}

.night-mode {
  --color0: black;
  --color1: white;
  --color2: rgb(246, 233, 233);
}

.day-mode {
  --color0: white;
  --color1: black;
  --color2: rgb(43, 43, 43);
}

.top-toggle {
  display: flex;
  flex-direction: row;

}

.seccion {
  max-width: 600px;
  padding-top: 50px;
  /* display: flex;
  flex-direction: column; */
}

.title {
  text-align: center;
  margin: 1em 0 0.5em 0;
  font-size: 2em;
}

/* 
.subtitle {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
} */

.navbar {
  /* display: flex;
  flex-direction: row;
  text-align: center;
  height: 3em; */


  /* margin-top: 2%;
  display: flex;
  width: 100%;
  justify-content: flex-end */


position: absolute;
top: 2%;
right: 2%;
display: flex;

}

.navbar-day {

  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbar-night {

  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Basic styling for the data component container */
.data-component {
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed */
  margin: 0 auto;
}

/* Styling for each data line within the data component */
.data-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd; /* Border for each data line */
  border-radius: 4px;
}

.data-line .fa-check {
  color: #28a745 !important; /* Green color for the check icon */
  cursor: pointer;
  margin-left: 5px;
}

/* Styling for the left side of the data line */
.data-left {
  font-weight: bold;
}

/* Styling for the right side of the data line */
.data-right {
  color: #007bff; /* Adjust the color as needed */
}


.edit-input {
  width: 40%;
  padding: 8px;
  border: 1px solid #ddd; /* Border for the input */
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 5px;
}


.clear-all-div {
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

/* .clear-all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--color0);
  background-color: var(--color1);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 1em;
} */

.clear-all {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background-color: var(--color3);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 1em;
}

.clear-all:hover {
  background-color: var(--color1);
}

.clear-all-x {
  width: 50px;
  /* Adjust the width and height for the desired circle size */
  height: 50px;
  border-radius: 50%;
  font-weight: 900;
  border: 2px solid transparent;
  color: red;
  text-align: center;
  /* line-height: 50px; */
  font-size: 100%;
  /* Adjust the font size */
  padding: 5px;
  /* Add padding for some spacing between text and border */
  cursor: pointer;
}

.clear-all:hover {
  background-color: var(--color2)
}

.clear-all:active {
  background-color: var(--color2);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


section {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  /* margin: 0.5em 0 0.5em 0; */
}

.th,
.server {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}


.margin-top {
  margin-top: 2em;
}

.margin-bottom {
  margin-bottom: 2em;
}

.thirty-three {
  width: 19%;
  text-align: center;
  margin: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-label {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* white-space: nowrap; */
}

.inline-label-small {
  /* width: 50%; */
  margin: 0 0.5em 0 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* white-space: nowrap; */
}



.money-input,
.pizza-input,
.tips-input {
  margin: 1em auto;
  height: 40px;
  width: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  /* border: 2px solid #3498db; */
  border-radius: 5px;
  outline: none;
  /* transition: border-color 0.3s; */
}

.money-input:focus,
.pizza-input:focus,
.tips-input:focus {
  border-color: #2980b9;
} 

.cash-input {
  margin: 0.5em auto;
  padding: 0.5em;
  height: 1em;
  width: 3em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.5em;
}

.server-name-width {
  width: 50%;
}

/* .cash-input-small {
  margin: 0.5em auto;
  padding: 0.5em;
  height: 1em;
  width: 5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.5em;
} */

.cash-input-small {
  margin: 0.5em auto;
  height: 40px;
  width: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  /* border: 2px solid #3498db; */
  border-radius: 5px;
  outline: none;
  /* transition: border-color 0.3s; */
}

.cash-input-small:focus {
  border-color: #2980b9;
} 


.white-font {
  color: white;
}

/* .nameinput {
  
  height: 3em;
  font-size: 120%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
 
  border-radius: 5px;
  outline: none;
} */

 .nameinput {

  
  height: 3em;
  font-size: 120%;

  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

.nameinput:focus {
  border-color: #2980b9;
}  


.inline {
  display: flex;

}

.info {
  background-color: blue;
  border-radius: 50px;
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5em 0;
  cursor: pointer;
  color: white;
}

.info-red {
  background-color: red;
  border-radius: 50px;
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5em 0;
  cursor: pointer;
  color: white;
}

.info-message {
  font-style: italic;
  text-align: center;
  margin: 0 2em 0 2em;
  border: 3px double var(--color1);
  ;
  border-radius: 20px;
  padding: 1em;
  background-color: var(--color1);
  color: var(--color0);
}

input {
  background-color: var(--color1);
  color: var(--color0)
    /* height: 3em; */
}

.money {}

.pizza {
  display: none;
}

.pmserv {

  margin-left: 2em;
}


.tips {}

.servers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructors {
  display: flex;
  flex-direction: column;
}

.instructor {
  margin-bottom: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center items horizontally */
}



.instructor-detail {
  display: flex;
  margin: 1em;
  align-items: center;
}

.instructor-detail>div,
.instructor-detail>input {
  flex: 1;
  text-align: center;
  width: 33.33%;
  /* Each div (or input) takes up 33.33% of the container width */

  
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
  

}

.instructor-detail-input:focus {
  border-color: #2980b9;
}  


.instructor-detail>div:first-child {
  text-align: left;
}

.instructor-detail-input {
  height: 2.5em;
}

.warning-message {
  background-color: #ffc107;
  /* Yellow background */
  color: #721c24;
  /* Dark red text color */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ffc107;
  /* Border color matches the background */
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

.warning-message-inside {
  background-color: #ffc107;
  /* Yellow background */
  color: #721c24;
  /* Dark red text color */
  margin: 0.5em 0 0.5em 0;
}

.error-message {
  /* background-color: var(--color0);;
  color: var(--color1);;
  padding: 1em;
  font-size: small; */



  font-style: italic;
  text-align: center;
  /* margin: 0 2em 0 2em; */
  border: 3px double var(--color1);
  border-radius: 20px;
  padding: 1em;
  background-color: var(--color1);
  color: var(--color0);
  font-size: small;
  display: flex;
  align-items: center;
}


@media only screen and (max-width: 400px) {
  * {
    font-size: 0.9rem;
  }

  .clear-all {
    font-size: 14px;
  }

  .error-message {
    font-size: 0.5em;
  }
}

.color-toggle {
  position: absolute;
  /* right: 90%; */
  top: 2%;
  left: 5%;

}

.brush {
  /* position: absolute;
  top: 2%;
  left: 5%; */
  position: absolute;
  top: 2%;
  left: 5%;
  width: 20px;


}

.colors {
  /* position: absolute;
  display: flex;
  flex-direction: row;
  top: 1%;
  left: 12% */

  position: absolute;
  top: 6%;
  left: 5%
}

.color {
  border-radius: 50px;
  margin-top: 1em;
  /* margin-left: 1em; */
  width: 1.5em;
  height: 1.5em;
}

.black {
  background-color: black;
  color: black;
  --color0: black;
  --color1: white;
  --color2: rgb(43, 43, 43);
  --color3: #4025b9;
}

.white {
  background-color: white;
  color: white;
  --color0: white;
  --color1: black;
  --color2: rgb(43, 43, 43);
  --color3: #4025b9;
}

.pink {
  background-color: pink;
  color: pink;
  --color0: pink;
  --color1: purple;
  --color2: rgb(43, 43, 43);
  --color3: purple;
}

.blue {
  background-color: blue;
  color: blue;
  --color0: blue;
  --color1: lightblue;
  --color2: rgb(43, 43, 43);
  --color3: darkblue;
}

.green {
  background-color: green;
  color: green;
  --color0: green;
  --color1: lightgreen;
  --color2: rgb(43, 43, 43);
  --color3: rgb(43, 43, 43);
}

.red {
  background-color: coral;
  color: coral;
  --color0: coral;
  --color1: darkred;
  --color2: rgb(43, 43, 43);
  --color3: darkred;
}

.black-line {
  border: 1px solid black;
}

.white-line {
  border: 1px solid white;
}

.pizza-making-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yes-no {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.red-line {
  /* background-color: red; */
  color: red;
  /* border-color: red; */
}



.datawheel {}

.switch {

  margin: 0px 10px 0px 10px;
}

.data-component {
  text-align: center;
}

/* TOGGLE BUTTON */


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s cubic-bezier(0, 1, 0.5, 1);
  border-radius: 4px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s cubic-bezier(0, 1, 0.5, 1);
  border-radius: 3px;
}

input:checked+.slider {
  background-color: white;
}

input:focus+.slider {
  box-shadow: 0 0 4px grey;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#round {
  border-radius: 34px;
}

#round:before {
  border-radius: 50%;
}

.print-component {
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 5em;
  padding-top: 2em;
}

.padding-bottom {
  padding-bottom: 5em;

}

.print-line {
  margin: 0.3em 0em 0.3em 0em
}


.print-server {
  display: flex;
  flex-direction: row;
}

.server-details {
  margin-right: 0.2em;
}

/* ALL CSS AM */

.AmButton,
.PmButton {
  background-color: var(--color1);
  width: 5.6em;
  height: 2.4em;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.2rem;
  border-radius: 34px;
}

.PmButton {
  padding: 0.5em;
}

.word {
  background-color: var(--color1);
  margin-right: 0.5em;
  margin: 0em 0.5em 0em 0.1em;
  font-weight: 700;
  color: var(--color0);
}

.wordpm {
  margin: 0em 0.1em 0em 0.5em;
}

.circle {
  border-radius: 50px;
  width: 1.9em;
  height: 1.9em;
  color: var(--color0);
  ;
  background-color: var(--color0);
  margin-right: 0.1em;
}



