/* || RESET */

:root {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color1);
  background-color: var(--color0);
}



.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 5em; */
  /* padding-bottom: 5em; */
  justify-content: center;
  align-items: center;

}

.night-mode {
  --color0: black;
  --color1: white;
  --color2: rgb(246, 233, 233);
}

.day-mode {
  --color0: white;
  --color1: black;
  --color2: rgb(43, 43, 43);
}

.top-toggle {
  display: flex;
  flex-direction: row;

}

.seccion {
  max-width: 600px;
  /* display: flex;
  flex-direction: column; */
}

.title {
  text-align: center;
  margin: 1em 0 0.5em 0;
  font-size: 2em;
}
/* 
.subtitle {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
} */

.navbar {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  text-align: center;
  height: 3em;

}

.navbar-day {

  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbar-night {

  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}


.clear-all-div {
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.clear-all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--color0);
  background-color: var(--color1);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 1em;
}

.clear-all:hover {
  background-color: var(--color2)
}

.clear-all:active {
  background-color: var(--color2);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


section {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  /* margin: 0.5em 0 0.5em 0; */
}

.th,
.server {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}


.margin-top {
  margin-top: 2em;
}

.margin-bottom {
  margin-bottom: 2em;
}

.thirty-three {
  width: 19%;
  text-align: center;
  margin: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-label {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* white-space: nowrap; */
}

.money-input,
.pizza-input,
.tips-input {
  margin: 0.5em auto;
  height: 3em;
  width: 6em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 1.5em;
}

.nameinput {
  height: 3em;
  font-size: 120%;
}

.inline {
  display: flex;
}

.info {
  background-color: blue;
  border-radius: 50px;
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5em 0;
  cursor: pointer;
  color: white;
}

.info-red {
  background-color: red;
  border-radius: 50px;
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5em 0;
  cursor: pointer;
  color: white;
}

.info-message {
  font-style: italic;
  text-align: center;
  margin: 0 2em 0 2em;
  border: 3px double var(--color1);
  ;
  border-radius: 20px;
  padding: 1em;
  background-color: var(--color1);
  color: var(--color0);
}

input {
  background-color: var(--color1);
  color: var(--color0)
    /* height: 3em; */
}

.money {}

.pizza {
  display: none;
}

.pmserv {

  margin-left: 2em;
}


.tips {}

.servers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.server {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; */
}

.summary {}

.error-message {
  /* background-color: var(--color0);;
  color: var(--color1);;
  padding: 1em;
  font-size: small; */



  font-style: italic;
  text-align: center;
  /* margin: 0 2em 0 2em; */
  border: 3px double var(--color1);
  border-radius: 20px;
  padding: 1em;
  background-color: var(--color1);
  color: var(--color0);
  font-size: small;
  display: flex;
  align-items: center;
}


@media only screen and (max-width: 400px) {
  * {
    font-size: 0.9rem;
  }

  .clear-all {
    font-size: 14px;
  }

  .error-message {
    font-size: 0.5em;
  }
}

.color-toggle {
position: absolute;
/* right: 90%; */
top: 2%;
left: 5%;

}

.brush {
  position: absolute;
  top: 2%;
  left: 5%;
  width: 40px;
 
}

.colors {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 1%;
  left: 12%
}

.color {
  border-radius: 50px;
  margin-top: 1em;
  margin-left: 1em;
  width: 1.5em;
  height: 1.5em;
}

.black {
  background-color: black;
  color: black;
  --color0: black;
  --color1: white;
  --color2: rgb(43, 43, 43);
}

.white {
  background-color: white;
  color: white;
  --color0: white;
  --color1: black;
  --color2: rgb(43, 43, 43);
}

.pink {
  background-color: pink;
  color: pink;
  --color0: pink;
  --color1: purple;
  --color2: rgb(43, 43, 43);
}

.blue {
  background-color: blue;
  color: blue;
  --color0: blue;
  --color1: lightblue;
  --color2: rgb(43, 43, 43);
}

.green {
  background-color: green;
  color: green;
  --color0: green;
  --color1: lightgreen;
  --color2: rgb(43, 43, 43);
}

.red {
  background-color: coral;
  color: coral;
  --color0: coral;
  --color1: darkred;
  --color2: rgb(43, 43, 43);
}

.black-line {
  border: 1px solid black;
}

.white-line {
  border: 1px solid white;
}

.pizza-making-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yes-no {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.red-line {
  /* background-color: red; */
  color: red;
  /* border-color: red; */
}

/* TOGGLE BUTTON */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 9px;
  margin-left: 80%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s cubic-bezier(0, 1, 0.5, 1);
  border-radius: 4px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s cubic-bezier(0, 1, 0.5, 1);
  border-radius: 3px;
}

input:checked+.slider {
  background-color: white;
}

input:focus+.slider {
  box-shadow: 0 0 4px grey;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#round {
  border-radius: 34px;
}

#round:before {
  border-radius: 50%;
}

.print-component {
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 5em;
  padding-top: 2em;
}

.padding-bottom {
  padding-bottom: 5em;

}

.print-line {
  margin: 0.3em 0em 0.3em 0em
}


.print-server {
  display: flex;
  flex-direction: row;
}

.server-details  {
  margin-right: 0.2em;
}

/* ALL CSS AM */

.AmButton, .PmButton {
  background-color: var(--color1);
  width: 5.6em;
  height: 2.4em;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.2rem;
  border-radius: 34px;
}

.PmButton {
  padding: 0.5em;
}

.word {
  background-color: var(--color1);
  margin-right: 0.5em;
  margin: 0em 0.5em 0em 0.1em;
  font-weight: 700;
  color: var(--color0);
}

.wordpm {
  margin: 0em 0.1em 0em 0.5em;
}

.circle {
  border-radius: 50px;
  width: 1.9em;
  height: 1.9em;
  color: var(--color0);;
  background-color: var(--color0);
  margin-right: 0.1em;
}
